In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.preprocessing import LabelBinarizer, Normalizer
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

import sys
sys.path.insert(1, "../utilities")
from plot_utils import *
from extract import *
from assigners import *
from effect_estimators import *
from design_matrices import *

In [2]:
path_ttest = '../../../PARKINSONS/PDproj/plasmaresults/ttest/mv_32/pori0.05_FC0.5/'
filenames_ttest = [line.rstrip() for line in open(path_ttest +'filenames.txt')]
filenames_ttest

['plasmaHILICnegGFstatus_pori_var0.06FC0.5.csv',
 'plasmaHILICposGFstatus_pori_var0.06FC0.5.csv',
 'plasmaRPnegGFstatus_pori_var0.06FC0.5.csv',
 'plasmaRPposGFstatus_pori_var0.06FC0.5.csv',
 'plasmalipidnegwithGFstatus_pori_var0.06FC0.5.csv',
 'plasmalipidposwithGFstatus_pori_var0.06FC0.5.csv']

In [3]:
path = '../../../PARKINSONS/PDproj/plasmadata/clean/'
filenames = [line.rstrip() for line in open(path +'filenames.txt')]
filenames

['plasmaHILICnegGFstatus_log2.csv',
 'plasmaHILICposGFstatus_log2.csv',
 'plasmaRPnegGFstatus_log2.csv',
 'plasmaRPposGFstatus_log2.csv',
 'plasmalipidnegwithGFstatus_log2.csv',
 'plasmalipidposwithGFstatus_log2.csv']

In [4]:
fnum=2
df = pd.read_csv(path + filenames[fnum],sep=';', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,female,female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Control,Control,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Name,Formula,Annot. DeltaMass [ppm],Calc. MW,m/z,RT [min],MS2,Reference Ion,Area: 221010_SarkaLehtonen_Plasma_RP_neg_0020....,Area: 221010_SarkaLehtonen_Plasma_RP_neg_0021....,...,Gap Fill Status: 221010_SarkaLehtonen_Plasma_R...,Gap Fill Status: 221010_SarkaLehtonen_Plasma_R...,Gap Fill Status: 221010_SarkaLehtonen_Plasma_R...,Gap Fill Status: 221010_SarkaLehtonen_Plasma_R...,Gap Fill Status: 221010_SarkaLehtonen_Plasma_R...,Gap Fill Status: 221010_SarkaLehtonen_Plasma_R...,Gap Fill Status: 221010_SarkaLehtonen_Plasma_R...,Gap Fill Status: 221010_SarkaLehtonen_Plasma_R...,Gap Fill Status: 221010_SarkaLehtonen_Plasma_R...,Gap Fill Status: 221010_SarkaLehtonen_Plasma_R...
4,NaN,NaN,NaN,125.01354,124.00626,0.536,No MS2,[M-H]-1,17.596049046912402,17.34269994657802,...,128,128,0,128,0,128,128,128,128,128

In [112]:
df_ttest = pd.read_csv(path_ttest + filenames_ttest[fnum],sep=';')
df_ttest.head()

,compound,masstime,test,p_orig,p_FDR,p_Bonf,FC,ms,ur_P,ur_C
0,"(1S,6S,7S,8S,9R)-7,8,9-Trihydroxy-2,4,10-triox...",222.9916@0.715,PD-Control,7.141800e-11,3.494400e-07,4.913600e-08,1.740,0,4,23
1,"O-(Hydroxy{(2R)-2-hydroxy-3-[(8Z,11Z,14Z)-8,11...",546.28186@10.621,PD-Control,3.286500e-09,8.040300e-06,2.261100e-06,0.744,0,0,0
2,1-Oleoyl-2-hydroxy-sn-glycero-3-PE,478.29422@10.618,PD-Control,1.416100e-08,2.309600e-05,9.742600e-06,0.710,0,0,0
3,NaN,446.29176@8.635,PD-Control,4.978100e-08,6.089300e-05,3.425000e-05,2.508,0,0,8
4,NaN,534.25133@9.333,PD-Control,8.587300e-08,8.403300e-05,5.908000e-05,1.659,0,0,4

## Get the indices of significant features wrt. source data (keep meta info)

In [6]:
df_ttest.shape

(95, 10)

In [11]:
masstime = np.unique(df_ttest[' masstime'].to_numpy())
data_significant=get_features(masstime, df, True,[0,1,2,3],' ')

In [12]:
data_significant.shape

(99, 224)

In [110]:
sorted_ind=np.argsort(data_significant.iloc[4:,5])
X=data_significant.iloc[sorted_ind+4,8:80].to_numpy(dtype=float).T
rtime=data_significant.iloc[sorted_ind+4,5].to_numpy(dtype=float)[:,np.newaxis]
mass=data_significant.iloc[sorted_ind+4,4].to_numpy(dtype=float)[:,np.newaxis]
masstime=[' ' + "{}@{}".format(m[0],t[0]) for m,t in zip(mass, rtime)]
compound_names = data_significant.iloc[sorted_ind+4,0].to_numpy(dtype=str)

In [69]:
group = data_significant.iloc[1,8:80]
LE = LabelEncoder()
labels = LE.fit_transform(group)
gender = data_significant.iloc[0,8:80]

In [70]:
data_significant.iloc[sorted_ind + 4,:].head()

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
86,D-Gluconic acid,C6 H12 O7,-2.6,196.05779,195.05052,0.563,No MS2,[M-H]-1,17.893528427150457,18.00144276865585,...,64,64,64,64,64,64,64,64,64,64
85,"2,3,4,5-Tetrahydroxypentanal",C5 H10 O5,-4.89,150.05209,195.05047,0.563,No MS2,[M+FA-H]-1,17.893528427150457,18.00144276865585,...,64,64,64,64,64,64,64,64,64,0
18,"2,3,4,5-Tetrahydroxypentanal",C5 H10 O5,-3.38,150.05232,149.04458,0.619,No MS2,[M-H]-1,17.71192517594584,17.00598950057925,...,0,0,0,0,0,0,0,0,0,0
49,"2,4-DIOXO-5-THIAZOLIDINEACETIC ACID",C5 H5 N O4 S,-4.17,174.9932,173.98592,0.712,No MS2,[M-H]-1,16.81534446677103,15.150999463480126,...,0,0,0,0,0,128,0,0,32,0
21,NaN,C5 H12 O S2,-2.84,152.03252,151.02523,0.714,No MS2,[M-H]-1,15.382986326076104,16.028427289376488,...,128,128,32,128,128,32,32,32,0,128

### ---------------------------------------------------------------------------------------------------------

In [37]:

def make_twoWay_design(covariates, c1, c2):
    n_samples = covariates.shape[0]
    
    design = np.zeros((n_samples, 4), dtype=int)
    design[:,0]=1
    design[:,1]=covariates[:,0]==c1
    design[:,2]=covariates[:,1]==c2
    design[:,3]=(covariates[:,0]==c1) & (covariates[:,1]==c2) 
    
    return design

In [71]:
covs = np.vstack((group, gender)).T
twoWay_design=make_twoWay_design(covs,'PD', 'male')

In [76]:
var=0
y=X[:,var]

In [77]:
Î² = np.linalg.inv(twoWay_design.T@twoWay_design)@twoWay_design.T@y

In [78]:
Î²

array([19.36948309, -1.14381278,  0.46017866, -0.57206328])

In [82]:
MeanOP = np.array([
    
    [1,0,0,0],
    [1,1,0,0],
    [1,0,1,0],
    [1,1,1,1]
])

In [83]:
MeanOP@Î²

array([19.36948309, 18.22567031, 19.82966175, 18.11378568])

In [101]:
y[np.where(np.bitwise_and((gender=='female') , (group=='Control')))[0]].mean()

19.369483091259614

In [150]:
n1=np.sum(np.bitwise_and((gender=='male') , (group=='Control')))
n2=np.sum(np.bitwise_and((gender=='female') , (group=='Control')))
n3=np.sum(np.bitwise_and((gender=='male') , (group=='PD')))
n4=np.sum(np.bitwise_and((gender=='female') , (group=='PD')))
n=n1+n2+n3+n4

In [151]:
np.array([1,1,0,0])@Î²*n4/n + np.ones((4,))@Î²*n3/n

9.833389255901231

In [132]:
np.array([0,2,0,1])@Î²

-2.8596888481880685

In [161]:
b=Î²

In [163]:
b[0]

19.369483091259603

In [165]:
y[np.where(np.bitwise_and((gender=='female') , (group=='Control')))[0]].mean()

19.369483091259614

In [136]:
y[np.where(group=='PD')[0]].mean() - y[np.where(group=='Control')[0]].mean()

-1.3968161975192643

In [153]:
y[np.where(group=='Control')[0]].mean()

19.55076559302923

In [157]:
mp=((Î²[0]+Î²[1])*n4 + (Î²[0]+Î²[1]+Î²[2]+Î²[3])*n3)/n

In [158]:
mc=(Î²[0]*n2 + (Î²[0]+Î²[1])*n1)/n

In [159]:
mp-mc

1.1622312582104275

In [139]:
np.ones((4,))@Î² - np.array([2,0,1,0])@Î²

-21.085359156537738

In [124]:
Î²[:,np.newaxis]- Î²[np.newaxis,:]

array([[  0.        ,  20.51329587,  18.90930443,  19.94154637],
       [-20.51329587,   0.        ,  -1.60399144,  -0.5717495 ],
       [-18.90930443,   1.60399144,   0.        ,   1.03224194],
       [-19.94154637,   0.5717495 ,  -1.03224194,   0.        ]])

In [109]:
masstime[var]

' 195.05052@0.563'

In [111]:
compound_names[var]

'D-Gluconic acid'

In [113]:
df_ttest.head()

,compound,masstime,test,p_orig,p_FDR,p_Bonf,FC,ms,ur_P,ur_C
0,"(1S,6S,7S,8S,9R)-7,8,9-Trihydroxy-2,4,10-triox...",222.9916@0.715,PD-Control,7.141800e-11,3.494400e-07,4.913600e-08,1.740,0,4,23
1,"O-(Hydroxy{(2R)-2-hydroxy-3-[(8Z,11Z,14Z)-8,11...",546.28186@10.621,PD-Control,3.286500e-09,8.040300e-06,2.261100e-06,0.744,0,0,0
2,1-Oleoyl-2-hydroxy-sn-glycero-3-PE,478.29422@10.618,PD-Control,1.416100e-08,2.309600e-05,9.742600e-06,0.710,0,0,0
3,NaN,446.29176@8.635,PD-Control,4.978100e-08,6.089300e-05,3.425000e-05,2.508,0,0,8
4,NaN,534.25133@9.333,PD-Control,8.587300e-08,8.403300e-05,5.908000e-05,1.659,0,0,4

In [160]:
mts, ps, ts, es = extract_pvalues(df_ttest,masstime[:2], pvalue_col=' p_orig')
display_pvalues(mts, ps, ts, es)

-----------------------
Peak:  195.05052@0.563
P-values: [0.014487]
Tests: [' PD-Control']
Effects: [-1.397]
-----------------------
Peak:  195.05047@0.563
P-values: [0.014487]
Tests: [' PD-Control']
Effects: [-1.397]

### ----------------------------------------------------------------------------------------------------------------

In [17]:
gender = df_sgnf.iloc[0,8:80]
group = df_sgnf.iloc[1,8:80]
area = df_sgnf.iloc[4:,8:80]
LE = LabelEncoder()
label = LE.fit_transform(group)

In [236]:
Gender = LabelBinarizer().fit_transform(gender)
Group = LabelBinarizer().fit_transform(group)
A = area.to_numpy(dtype=float)
RT = df_sgnf.iloc[4:,5].to_numpy(dtype=float)[:,np.newaxis]
assert(RT.shape[0]==A.shape[0])

In [238]:
dt=0.1
mask = np.abs(RT-RT.T)<=dt
C = np.corrcoef(A)*mask
DC = 1 - C
DC-=np.diag(DC)*np.eye(DC.shape[0])

In [247]:
np.max(DC)

1.4962163725793434

In [243]:
DC[1,:]

array([0.        , 0.        , 0.21906109, 0.25286129, 1.07294712,
       0.56488514, 1.3331359 , 1.16789749, 1.30472851, 1.48375516,
       1.32486517, 1.1441725 , 1.34306061, 1.06976171, 1.34653116,
       1.34847826, 1.35179735, 1.34983186, 1.28261526, 1.35027484,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ])